{% extends 'base.html.twig' %}

{% block title %}Список сотрудников{% endblock %}

{% block body %}
    <h1>Список сотрудников</h1>
    <a href="{{ path('organizations_index') }}">Список организаций</a>
    <a href="{{ path('employees_index') }}">Список сотрудников</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Организация</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Фамилия</th>
                <th>Дата рождения</th>
                <th>ИНН</th>
                <th>СНИЛС</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.organization.name }}</td>
                <td>{{ employee.firstname }}</td>
                <td>{{ employee.middlename }}</td>
                <td>{{ employee.lastname }}</td>
                <td>{{ employee.dateOfBirth ? employee.dateOfBirth|date('Y-m-d') : '' }}</td>
                <td>{{ employee.inn }}</td>
                <td>{{ employee.snils }}</td>
                <td>
                    <a href="{{ path('employees_show', {'id': employee.id}) }}">Подробнее</a>
{#                    <a href="{{ path('employees_edit', {'id': employee.id}) }}">edit</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Записей не найдено</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('employees_new') }}">Добавить нового сотрудника</a>

    {% include 'upload_form.html.twig' %}

{% endblock %}
