{% extends 'base.html.twig' %}

{% block title %}Employees{% endblock %}

{% block body %}
    <h1>Карточка сотрудника <br> {{ employee.firstName }} {{ employee.middlename }} {{ employee.lastname }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employee.id }}</td>
            </tr>
            <tr>
                <th>Организация</th>
                <td>{{ employee.organization.name }}</td>
            </tr>
            <tr>
                <th>Имя</th>
                <td>{{ employee.firstname }}</td>
            </tr>
            <tr>
                <th>Отчество</th>
                <td>{{ employee.middlename }}</td>
            </tr>
            <tr>
                <th>Фамилия</th>
                <td>{{ employee.lastname }}</td>
            </tr>
            <tr>
                <th>Дата рождения</th>
                <td>{{ employee.dateOfBirth ? employee.dateOfBirth|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>ИНН</th>
                <td>{{ employee.inn }}</td>
            </tr>
            <tr>
                <th>СНИЛС</th>
                <td>{{ employee.snils }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('employees_index') }}">Вернуться к списку сотрудников</a>

{#    <a href="{{ path('employees_edit', {'id': employee.id}) }}">edit</a>#}

{#    {{ include('employees/_delete_form.html.twig') }}#}
{% endblock %}
