{% extends 'base.html.twig' %}

{% block title %}Organizations{% endblock %}

{% block body %}
    <h1>{{ organization.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Название организации</th>
                <th>ОГРН</th>
                <th>ОКТМО</th>

            </tr>
            <tr>
                <td>{{ organization.id }}</td>
                <td>{{ organization.name }}</td>
                <td>{{ organization.ogrn }}</td>
                <td>{{ organization.oktmo }}</td>
            </tr>
            <tr>
                <th>Сотрудники</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Фамилия</th>
                <th>ИНН</th>
                <th>СНИЛС</th>
            </tr>
            {% for user in organization.employees %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.middlename }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.inn }}</td>
                    <td>{{ user.snils }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{#    <a href="{{ path('employees_new') }}">Добавить нового сотрудника</a>#}

    <a href="{{ path('organizations_index') }}">Вернуться к списку организаций</a>

{#    <a href="{{ path('organizations_edit', {'id': organization.id}) }}">Редактировать запись</a>#}

{#    {{ include('organizations/_delete_form.html.twig') }}#}
{% endblock %}
